@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
    --bg-color-primary: #22d3ee;
    --bg-color-secondary: #a855f7;
    --bg-color-tertiary: #1e293b;
    --bg-color-teste: #213149;
    --bg-color-neutral: #94a3b8;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    max-width: 1120px;
    padding: 0 0.75rem;
    margin: 0 auto;
}

body {
    background-color: var(--bg-color-tertiary);
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding-left: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--bg-color-neutral);
}

nav ul li a:hover {
    color: white;
}

.btn_blue {
    padding: 10px 20px;
    background-color: var(--bg-color-primary);
    color: var(--bg-color-neutral);
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 10px;
    text-decoration: none;
}

.btn_blue:hover {
    color: white;
    background-color: var(--bg-color-neutral);
}

.banner {
    width: 100%;
    height: 95vh;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_text_banner {
    margin: 0;
}

.banner ul li {
    list-style: inside;
    color: var(--bg-color-primary);
}

.banner h1 {
    padding: 20px 0;
    background: linear-gradient(20deg, var(--bg-color-primary), var(--bg-color-secondary), var(--bg-color-secondary), var(--bg-color-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

.banner p {
    padding: 20px 0;
}

.banner .buttons {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.buttons .whatsapp {
    text-decoration: none;
    color: white;
    background-color: var(--bg-color-primary);
    padding: 15px 20px;
    border-radius: 10px;
}

.buttons .btn_pj {
    text-decoration: none;
    border: var(--bg-color-neutral) 1px solid;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

.about {
    width: 100%;
    height: 70vh;
    background-color: var(--bg-color-tertiary);
}

.about .box_info {
    display: flex;
    justify-content: space-between;
    padding: 50px
}

.about .box_info .text {
    width: 30%;
    background-color: red;
}

.about .box_info .text p {
    padding-top: 30px;
}

.about .box_info .caracteristicas {
    width: 65%;
    /* display: flex; */
    /* justify-content: center; */
}

.caracteristicas .box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.caracteristicas .box_servicos {
    background-color: black;
    width: 49%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 25px;
}

.ecosist {
    background-color: var(--bg-color-teste);
    width: 100%;
    height: 45vh;
}

.ecosist h2 {
    text-align: center;
    padding: 50px 0;
}

.ecosist .carrossel {
    display: flex;
    justify-content: space-around;
}

.ecosist .carrossel .box_eco {
    width: 100px;
    height: 100px;
    background-color: #22d3ee;
}

.ecosist .carrossel .box_eco img {
    width: 100%;
}

.projetos {
    width: 100%;
    height: 95vh;
    background-color: #1e293b;
}

.projetos .text h2 {
    padding: 50px 0 20px 20px;
}

.projetos .text .text-desc {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.projetos .text .text-desc p {
    max-width: 500px;
}

.projetos .text .text-desc a {
    text-decoration: none;
    color: var(--bg-color-primary);
}

.projetos .box-proj {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.box-proj .proje {
    max-width: 480px;
    height: 450px;
    background-color: var(--bg-color-teste);
    text-align: left;
    border-radius: 20px;
}

.proje .img-pj {
    width: 100%;
    height: 200px;
    background-color: #a855f7;
    border-radius: 20px 20px 0 0;
}

.proje .text-pj {
    width: 85%;
    margin: auto;
}

.text-pj h3,
.text-pj span,
.text-pj ul {
    padding: 20px 0;
}

.text-pj ul {
    display: flex;
}

.text-pj ul li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: var(--bg-color-tertiary);
    color: var(--bg-color-primary);
}

.text-pj a {
    text-decoration: none;
}

.forms {
    width: 100%;
    height: 80vh;
    background-color: var(--bg-color-teste);
    display: flex;
    justify-content: space-around;
    padding: 50px 0;

}

.forms .text {
    width: 45%;
    background-color: #a855f7;
}

.forms .text h2 {
    padding: 20px 0;
}

.forms .text p {
    padding: 20px 0;
}

.forms .text .cont {
    display: flex;
    padding: 5px 0;

}

.forms .text .cont svg {
    background-color: var(--bg-color-teste);
    padding: 12px 10px;
    border: solid 1px var(--bg-color-neutral);
    border-radius: 10px;
}

.forms .text .cont .info {
    padding-left: 10px;

}

.forms .text .contatos {
    display: flex;
    padding-top: 30px;

}

.forms .text .contatos svg {
    padding: 10px 8px;
    background-color: #22d3ee;
    border-radius: 70%;
    margin-right: 5px;
    border: solid 1px
}

.forms form {
    width: 45%;
    border: 1px solid var(--bg-color-neutral);
    border-radius: 10px;
    padding: 50px;
    flex-direction: column;
}


.forms form .teste {

}

/* .forms form .teste {
    width: 50%;
    display: block;
} */